@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
/* *{
    box-sizing: border-box;
} */
body{
    background-image: url(https://wallpapercave.com/wp/wp4613288.jpg);
    background-size:cover;
    background-position: left top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Uchen"  , sans-serif;
    align-items:center;
    /* justify-content: center; */
    margin: 8% 15% 0rem 0rem;
    overflow: hidden;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin: 0 2rem;
}
.countdown-container{
    display: flex;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown {
    text-align: center;
}
.countdown span{
    font-size: 1.5rem;
}